.body {
    background-color: #112e42;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.welcome {
    margin: 10px 0 20px 10px;
    font-size: 30px;
}

.history {
    margin: 10px 0 30px 10px;
    font-size: 25px;
}

.description{
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 20px;
}

.content {
    color: white;
    margin-top: 100px;
}

.members {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    color: white;
    margin: 100px 40px 20px 40px;
}

.member {
    text-align: center;
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hooper {
    background-image: url("images/ianhooper.jpg");
    padding: 10px 10px;
    width: 300px;
    height: 300px;    
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.claudio {
    background-image: url("images/claudiodonzelli.jpg");
    padding: 10px 10px;
    width: 300px;
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.craig {
    background-image: url("images/craigsaunders.jpg");
    padding: 10px 10px;
    width: 300px;
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}