body {
    background-color: #112e42;
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
}

html,
body{
    height:100%;
}

.albums{
    margin: 200px 10px 0 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    text-decoration: none;
}

p{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.howl{
    background-image: url("images/howl.jpg");
    padding: 10px 0;
    position: relative;
    display: inline-block;
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.dreamers{
    background-image: url("images/dreamers.jpg");
    padding: 10px 0;
    display: flex;
    
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.storm{
    background-image: url("images/storm.jpg");
    padding: 10px 0;
    display: flex;
    
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.driftwood{
    background-image: url("images/driftwood.jpg");
    padding: 10px 0;
    display: flex;
    
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.thinking{
    background-image: url("images/thinking.jpg");
    padding: 10px 0;
    display: flex;
    
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}  

.things{
    background-image: url("images/things.jpg");
    padding: 10px 0;
    display: flex;
    
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.mexico{
    background-image: url("images/mexico.jpg");
    padding: 10px 0;
    display: flex;
    
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.wrapper{
    padding-top: 50px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: gray;
}

.media{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.albums a {
    color: white;
    text-decoration: none;
}

.media a{
    color: gray;
}

.media, .albums a:hover {
    text-decoration: underline;
}

.accordion {
    background-color: #112e42;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: auto;
    border: none;
    outline: none;
    transition: 0.4s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.dropdown-albums-content {
    display: none;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    color: black;
}

.howlTitle {
    font-size: 20px;
    color: white;
}

.wrapper{
    position:fixed;
    bottom:0;
}