.body {
    background-color: #112e42;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.caption{
    font-size: 40px;
    padding-bottom: 40px;
    padding-top: 50px;
    width: 300px;
    text-align: left;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-table{
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

tr:hover {
    background-color: #5F9EA0;
}

.location, .date {
    text-align: center;
    height: 70px;
    width: 400px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}

.table-header-row {
    text-align: center;
    border-collapse: collapse;
    color: white;
    height: 30px;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.location-header {
    display: flex;
}

.date-header {
    display: flex;
}

.table-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.tickets {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100px;
    height: 50px;
    background-color: #112e42;
    color: gray; 
    font-size: 50px;
    cursor: pointer; 
    margin-right: 20px;
    border: none;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.tickets:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.tickets:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.days { 
    margin-right: 25px;
}

.date-and-time {
    display: flex;
    justify-content: center;
    align-items: center;
}

.date-and-time:hover {
    background-color: #112e42;
}

.location-header { 
    display: flex;
    text-align: center;
    justify-content: flex-start;
}
